<div class="container">
  <div class="row mt-5  justify-content-center">
    <div class="col-xs-9">
      <h1>What
      <strong>"Customers Info"</strong>
      ?
      </h1>
    </div>
  </div>

  <div class="row mt-4  justify-content-center">
    <a style="font-size: 1.25rem;">
      "Customers Info" は社内の取引先と担当営業を一括管理できるアプリです。
    </a>
  </div>
  
  <div class="row mt-4 justify-content-center">
    <div class="col-xs-10 m-5 text-center">
      <%= image_tag 'member_icon.png', :size =>'120x120' %>
      <p class="mt-4">営業の情報登録ができます</p>
    </div>
    <div class="col-xs-10 m-5 text-center">
      <%= image_tag 'building.png', :size =>'120x120' %>
      <p class="mt-4">自身の担当企業の情報登録をし、</br>
      最終訪問やメモの記入ができます</p>
    </div>
    <div class="col-xs-10 m-5 text-center">
      <%= image_tag 'comments.png', :size =>'120x120' %>
      <p class="mt-4">企業詳細ページから企業に関する情報や</br>
      アドバイスなどのコメント</p>
    </div>
  </div>
  
</div>